
/* The dots/bullets/indicators */
.biluta {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    background-color: rgb(163, 158, 158);
    border-radius: 15%;
    display: inline-block;
    box-shadow: 0px 6px 0px #b5b8b9, 0px 3px 15px rgba(114, 111, 111, 0.4);
    transition: background-color 0.5s;
  }
  
  .activ, .biluta:hover {
    background-color: #726c6c;
  }
  
  .meniu {
    /* border: 1px solid black; */
    text-align: center;
  }

  button {
    background-color: rgb(179, 174, 173);
    color: steelblue;
    height: 30px;
    width: 30px;
  
  }

  #slide {
    image-rendering: crisp-edges;
  }